<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Shopping List
	link(rel="stylesheet", href="/styles/main.css", type="text/css")
body
	h1 It's a 
		span.uppercase Shopping List!!!
	block content