extends index.pug

block content
	h2 #{item.name}
	h4 This shit will cost you $#{item.price}
	p View all your 
		a(href="../items") items
		|  again.
	p Or change the price and/or name of 
		a(class="no-dec red" href=`./${item.id}/edit`) #{item.name}