extends index.pug

block content
	h2 Add a New Item to your List
	form(method="POST" action="/items")
		label To the Right &#9755;  
		input(type="text" name="name" placeholder="Add item here")
		input(type="number" name="price" placeholder="What's the price?")
		button(type="submit") Enter your item Bro