.uppercase {
	text-transform: uppercase;
}

.no-dec {
	text-decoration: none;
}

.red {
	color: red;
}

.primary {
	color: turquoise;
	font-weight: bold;
}

.secondary {
	color: orange;
}

.margin-left {
	margin-left: 10px;
}

.margin-top {
	margin-top: 10px;
}

.margin-bottom-big {
	margin-bottom: 25px;
}

.button {
	border: 5px solid green;
	background-color: black;
	font-weight: bold;
	font-size: 20px;
	border-radius: 5%;
}